.about {
  background-color: #0a2850;
  padding: 100px 80px 173px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.about__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  color: #ffffff;
  z-index: 9999;
}

.about__content {
  color: #ffffff;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 19px 0px 0;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
  z-index: 1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
