.card {
  width: 540px;
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  width: 100%;
}

.card__list-divider {
  flex-grow: 3;
  border-bottom: 1px solid #000000;
}
