.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px;
  color: #ffffff;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__social-heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__social-link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  transition: opacity 300ms;
  display: flex;
  gap: 10px;
}

.footer__social-link:hover {
  opacity: 70%;
}

.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 108px 0px 0px;
}
