.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.menu__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px 0px 24px;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: 0px 0px 100px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
