.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  transition: opacity 300ms;
}

.nav__link:hover {
  opacity: 50%;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}
