.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 100px 80px 0;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding: 80px 0 215px;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}
