.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 0px 120px;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin-top: 80px;
}
