* {
  margin: 0;
}

body {
  color: #000000;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 40px;
  margin-top: auto;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.recipes {
  border: 1x solid red;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 100px 80px 0;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding: 80px 0 215px;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}
